<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static '/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Квик Полл</title>
    <script type="module" crossorigin src="{% static 'js/main.9ca87021.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/main.6fee9c25.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
